.DS_Store
MASTRO/test_convres.txt
MASTRO/test_final.txt
MASTRO/test_filtered.txt
MASTRO/lcm53/lcm-out-test_ids.txt
MASTRO/lcm53/table-file-test.txt
MASTRO/lcm53/lcm-out-test.txt
.vscode/settings.json
MASTRO/test_theta0.6_st2_thetamax.txt
MASTRO/minptest.csv
MASTRO/minptest.csv.lock
MASTRO/results_*
MASTRO/lcm53/lcm-out*
MASTRO/lcm53/table-file*
MASTRO/spurious_analysis
MASTRO/test
data/TRACERx/processed_data
data/TRACERx/data_tracerx
MASTRO/__pycache__
MASTRO/lcm53/__tmp*
MASTRO/lcm53/lcm
MASTRO/results/**
!MASTRO/results/**/
!MASTRO/results/**/*filtered.txt
!MASTRO/results/**/*.csv
!MASTRO/results/**/*.json
!MASTRO/results/**/*.pdf
!MASTRO/results/**/*.png
!MASTRO/results/**/wy_thresholds.txt
!MASTRO/results/**/summary.txt
!MASTRO/results/**/environment.txt
!MASTRO/results/**/unique_patterns.txt
!MASTRO/results/**/README.md

MASTRO/results/**/all_pvals_*.json.gz
MASTRO/results/**/*_convres.txt
MASTRO/results/**/dags/
MASTRO/results/**/mastro_work*/
